---
import { getCollection } from "astro:content";
import BlogPostCard from "@/components/BlogPostCard.astro";
import Section from "@/components/Section.astro";
import Layout from "@/layouts/Layout.astro";

let posts = [];
try {
  posts = (await getCollection("blog")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
  );
} catch (error) {
  console.error("Error fetching blog posts:", error);
}
---
<Layout title="My Engineering Notebooks">
  <Section title="My Engineering Notebooks">
    <div class="w-full grid grid-cols-1 md:grid-cols-2 gap-4">
      {posts.length > 0 ? (
        posts.map((post) => (
          <BlogPostCard
            slug={post.id}
            title={post.data.title}
            excerpt={post.data.description}
            date={post.data.pubDate}
          />
        ))
      ) : (
        <p>No blog posts available.</p>
      )}
    </div>
  </Section>
</Layout>
